*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    background-color: #0e0e10;
}
.score-board-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 600px;
    margin: 0 auto;
    background-color: #262626;
    padding: 25px 35px;
    border-radius: 20px;
    margin-top: 60px;
    font-family: "Space Grotesk", sans-serif;
    color: white;
    border-left: 6px solid #89acff;
    border-right: 6px solid #fe7520 ;
}
.score{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
}
.player-name{
    color: #89acff;
    font-size: 14px;
    
}
.vs{
    color: #fff;
    font-weight: 900;
    font-size: 18px;
}
.cpu-name{
    font-size: 14px;
    color: #fe7520 ;
}

#player-score, #computer-score{
    font-size: 30px;
    font-weight: 800;
}